.MyPosts {
    padding: 10px;
}

.InputPost img{
    width: 160px;
    height: 160px;
    border-radius: 20px;
}

textarea{
    width: 650px;
    height: 150px;
    margin-left: 20px;
    background: rgb(182, 228, 194);
    border-radius: 5px;
}

button{
    font-style: oblique;
    font-size: 18px;
    color: rgb(40, 0, 114);
    border-radius: 15px;
    border-color: rgb(3, 3, 133);
    padding: 8px;
    background: rgb(48, 216, 231);
    margin: 15px;
}

.InputPost .button{
    text-align: right;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(43, 152, 224, 0.424);
}